<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{base :: head}"></head>
    <style>
        body{
            background-color: #323232;
        }
        h1{
            color: aliceblue;
            font-family: Verdana;
        }
        label{
            color: aliceblue;
            font-size: 20px;
        }
    </style>
    <body>
        <div class="container mt-4 col-6">
            <h1 class="display-5">Home</h1>

            <a href="/login" class="btn btn-outline-success">Login</a>
            
        </div>
    </body>
</html>